$color-primary: #4247d2;
$color-secondary: #1c0a22;
$color-header: #0d0922;
$color-header-dark: #0f0b23;
$color-success: #26c955;

$color-text: white;
$color-text-dim: #706e7c;

$border: 1px solid rgba(white, 0.3);

$font-primary: 'Montserrat', sans-serif;
